<div id="page">


<nav class="topnav">
  <a routerLink="">Default</a>
  <a routerLink="/photo1">Photo1 Component</a>
  <a routerLink="/photo2">Photo2 Component</a>
</nav>

<br>

<nav class="topnav">
  <a [routerLink]="['']">Default</a>
  <a [routerLink]="['/photo1']">Photo1 Component</a>
  <a [routerLink]="['/photo2']">Photo2 Component</a>
</nav>

<br>

<nav class="topnav">
  <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Default</a>
  <a [routerLink]="['/photo1']" routerLinkActive="active">Photo1 Component</a>
  <a [routerLink]="['/photo1', '001']" routerLinkActive="active">Photo1 Component</a>
  <a [routerLink]="['/photo2']" routerLinkActive="active">Photo2 Component</a>
 </nav>

 <br>
 
<main>
  <h3>Router Outlet</h3>
  <router-outlet></router-outlet>
</main>
<br>

</div>